* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  margin: 5px 5px 20px;
}
p {
  text-indent: 1em;
  padding: 10px 10px;
  border: 2px outset lightgrey;
  border-width: 0.5px;
  border-radius: 0 1em/2em;
  margin: 4px;
}
p a[href^="https://"] {
  background: url(../pic/extref.png) no-repeat 0px 4px;
  padding-left: 12px;
}
p a[href^="files/document.doc"] {
  background: url(../pic/logo-doc.jpg) no-repeat 136px 0px;
  padding-right: 22px;
}
p a[href^="files/document.pdf"] {
  background: url(../pic/logo-pdf.png) no-repeat 102px 0px;
  padding-right: 22px;
}
p a[href^="files/document.zip"] {
  background: url(../pic/logo-zip.gif) no-repeat 46px 0px;
  padding-right: 22px;
}
h3 {
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
}
li {
  margin-left: 20px;
  list-style: none;
  background: url(../pic/logo-list.jpg) no-repeat 0 1px;
  padding-left: 2px;
}
li a {
  margin-left: 20px;
}
li > a[href^="files/document.doc"]:hover {
  margin-left: 20px;
  background: url(../pic/logo-doc.jpg) no-repeat 140px 0px;
  padding-right: 40px;
}
li > a[href^="files/document.pdf"]:hover {
  margin-left: 20px;
  background: url(../pic/logo-pdf.png) no-repeat 105px 0px;
  padding-right: 40px;
}
li > a[href^="files/document.zip"]:hover {
  margin-left: 20px;
  background: url(../pic/logo-zip.gif) no-repeat 50px 0px;
  padding-right: 40px;
}
